<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-12" style="background: white">
    <h2>
      <span
        matTooltipPosition="right"
        matTooltip="Tela responsável por Consultar, Criar, Alterar e Excluir Etapas"
        >Consulta de Orçamento de veiculos</span
      >
    </h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/dashboard']">Home</a>
      </li>
      <li class="active">
        <strong>Consulta Orçamento Veiculo</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row" style="margin-top:10px">
  <pre>{{ orcamentoForm.value | json }}</pre>
  <mat-card class="animated fadeInRight 1-passo">
    <mat-card-title> </mat-card-title>

    <div class="hr-line-dashed"></div>

    <mat-card-content>
      <form [formGroup]="orcamentoForm" prependId="false">
        <div class="row">
          <!-- <app-select-simples [form]="entradaSaidaForm" controlName="veiculo" [objetos]="listVeiculos"> </app-select-simples> -->

        
          <div class="col-lg-6 col-sm-12 2-passo">
            <mat-form-field>
              <mat-label>Veiculo</mat-label>
              <mat-select formControlName="veiculo">
                <mat-option>Selecione um veiculos</mat-option>
                <mat-option
                  *ngFor="let veiculo of listVeiculos"
                  [value]="veiculo"
                  >{{ veiculo.placa }} - {{ veiculo.modelo }} -
                  {{ veiculo.anoFabricacao }}/{{ veiculo.anoModelo }} - {{veiculo.cor}}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-2 col-sm-12 2-passo">
            <mat-form-field class="mat-form-field example-full-width">
              <input
                matInput
                placeholder="valor"
                formControlName="valor"
              />
            </mat-form-field>
          </div>

          <div class="col-lg-2 col-sm-12 6-passo">
            <mat-form-field class="mat-form-field example-full-width">
              <!-- <input matInput placeholder="Data Nascimento" formControlName="dataNascimento" [textMask]="{ mask: maskDate, guide: false }"/> -->
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="data"
                placeholder="Data"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #picker
                startView="year"                
              ></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="hr-line-dashed"></div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button class="btn btn-primary" (click)="consultar()" mat-button>        
        Consultar
      </button>
      <button class="btn btn-warning" (click)="limpar()" mat-button>
        Limpar
      </button>
    </mat-card-actions>
  </mat-card>
</div>

